
<article class="card">
  <a href="{{ product.url }}">
    {% if product.featured_image %}
      <img class="card-img" src="{{ product.featured_image | image_url: width: 900 }}" alt="{{ product.title }}">
    {% endif %}
    <div class="card-body">
      <h3 class="card-title">{{ product.title }}</h3>
      {% assign v = product.selected_or_first_available_variant %}
      {% if v.sku != blank %}<div class="card-sku">SKU: {{ v.sku }}</div>{% endif %}
      <div class="card-price">{% render 'price', product: product %}</div>
    </div>
  </a>
</article>
