<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title }} - Soluciones Textiles Laguna</title>
  {{ content_for_header }}
  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'theme.js' | asset_url }}" defer></script>
</head>
<body>
  {% section 'header' %}
  {{ content_for_layout }}
  {% section 'footer' %}
  {{ content_for_footer }}
</body>
</html>